.form_Button {
  text-align: right;
}

.ant-form-item-label > label.ant-form-item-required::before {
  display: none;
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
  box-shadow: none;
}
.input_form {
  margin-bottom: 0px;
}

.container_App {
  height: 100vh;
}

.ant-card-bordered .ant-card-cover {
  position:relative;
  margin: 0px;
}

.ant-card-cover::before {
  content: '';
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(11, 11, 13, 0) 0%, #151519 88.83%);
  z-index: 1;
}

.cardContent > .ant-card-cover::before {
  border-radius: 8px 8px 0 0;
}

.cardDetail > .ant-card-cover::before {
  border-radius: 8px;
}

.ant-card-cover img {
  border-radius: 8px 8px 0 0;
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
}

.imageCardDetail {
  border-radius: 8px !important;
  min-height: 300px !important;
  max-height: 300px !important;
}



.ant-card-meta-title {
  font-size: 12px;
  color: #7EB4F0;
}

.cardContent {
  border-radius: 8px !important;
  border: none;
  background: #151519;
  min-height: 480px;
  max-height: 480px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.32);
}

.cardAcara {
  border-radius: 8px !important;
  border: none;
  background: #151519;
  min-height: 580px;
  max-height: 580px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.32);
}

.cardContentDoor {
  border-radius: 8px !important;
  border: none;
  background: #151519;
  min-height: 370px;
  max-height: 370px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.32);
}

.containCardDetail {
  border-radius: 8px !important;
  border: none;
  background: #E9FDFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.32);
}

.cardContent > .ant-card-body {
  padding: 8px 16px 0;
}

.cardDetail {
  border-radius: 8px !important;
  border: none;
  background: #151519;
  min-width: 400px;
  max-width: 400px;
  min-height: 300px;
  max-height: 300px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 32%);
}

.cardDetail > .ant-card-body {
  padding: 8px 16px 0;
}

.container_App > div {
  height: 100%;
}

.detailAcara {
  color: #EDF1F6;
  font-size: 24px;
}

.descTextAcaraBold, .descTextAcara {
  color: #000000;
  opacity: 0.4;
  font-size: 12px;
}

.descTextAcaraBold {
  font-weight: bold;
}

.detailAcaraCard {
  color: #00C3D4;
  font-size: 24px;
  font-weight: bold;
}

.deskAcara {
  color: #FEFEFE;
  font-size: 12px;
  opacity: 0.4;
  white-space: pre-wrap;
}

.ant-tag, .ant-tag a, .ant-tag a:hover {
  border-radius: 16px;
}

.ant-tag-has-color, .ant-tag-has-color a, .ant-tag-has-color a:hover, .ant-tag-has-color, .ant-tag-has-color {
  color: #BDC7D2;
}

.breadcrumb_style {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.breadcrum_item {
  font-family: 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #00C3D4;
}

.bodyCard_style {
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* overflow: auto hidden; */
}

.svg-content {
  width: 24px;
  margin-right: 10px;
}

.ant-table-thead > tr > th {
  background-color: white;
  font-family: 'Mulish' sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #797979;
}

.ant-pagination.mini .ant-pagination-item {
  border-color: #00C3D4
}

.ant-pagination-item-active a {
  color: #00C3D4
}

.ant-pagination-item:focus a, .ant-pagination-item:hover a {
  color: #00C3D4;
}

.ant-pagination-prev:focus .ant-pagination-item-link,
.ant-pagination-next:focus .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #00C3D4;
}

.root {
  margin: 10px 40px 30px;
  /* overflow-y: auto; */
}

.pathNow_style {
  font-weight: bold !important;
  color:#00C3D4;
}

.header_text_detail {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: #626262;
}

.style-divider {
  border: 1px solid #0000004f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ant-col-5 {
  flex: 0 0 20%;
  max-width: 20%;
}

.text_detail_institusi {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1,5;
  color: #626262;
  overflow-wrap: break-word;
}

.text_detail_FAQ {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  color: #222222;
}

.text_detail_deskripsi_acara {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 22px;
  color: #222222;
}

.text_detail_link_jalur_masuk:link {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 22px;
  color: #00C3D4;
}

.text_detail_link_jalur_masuk:hover, .text_detail_link_jalur_masuk:focus, .text_detail_link_jalur_masuk:active{
  color: #00C3D4;
}

.text_detail_note_jalur_masuk {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.headText {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 22px;
  color: #00C3D4;
}

.headTextLang {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #00C3D4;
}

.data_text_detail {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  color: #222222;
}

.select {
  width: 100% !important;
}

.select > .ant-select-selector {
  border-radius: 5px !important;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #797979;
}

.input_style {
  width: -webkit-fill-available;
  border-radius: 5px;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #797979;
}

.input_style_BW {
  width: -webkit-fill-available;
  padding: 7px 11px;
  border-radius: 5px;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #797979;
}

.radio_text {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  color: #000000;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #00C3D4
}

.ant-radio-wrapper:hover
.ant-radio, .ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: #00C3D4
}

.ant-radio-inner::after {
  background-color: #00C3D4
}
.ant-radio-checked::after {
  border: 1px solid #00C3D4
}

.resetButton > span {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #797979;
}


.editButton > span {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #00C3D4;
}

.deleteButton > span {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #E22828;
}

.resetButton {
  margin-right: 30px;
}

.addButton,
.addButton:hover,
.addButton:focus {
  margin-bottom: 0;
  background: #00C3D4;
  border-radius: 10px;
  height: auto;
  padding: 9px 35px;
  color: #00C3D4;
  border-color: #00C3D4;
}

.loginButton,
.loginButton:hover,
.loginButton:focus {
  margin-bottom: 0;
  background: #00C3D4;
  border-radius: 10px;
  height: auto;
  padding: 0px 35px;
  color: #00C3D4;
  border-color: #00C3D4;
}

.detailButton,
.detailButton:hover,
.detailButton:focus {
  margin-bottom: 0;
  background: #00C3D4;
  border-radius: 10px;
  height: auto;
  padding: 12px 32px;
  color: #00C3D4;
  border-color: #00C3D4;
  width: 100%;
  width: -webkit-fill-available;
}

.cancelButton,
.cancelButton:hover,
.cancelButton:focus {
  margin-bottom: 0;
  background: #DC7964;
  border-radius: 10px;
  height: auto;
  padding: 12px 32px;
  color: #DC7964;
  border-color: #DC7964;
  width: 100%;
  width: -webkit-fill-available;
}

.isRegisteredButton,
.isRegisteredButton:hover,
.isRegisteredButton:focus {
  margin-bottom: 0;
  background: #909090;
  border-radius: 10px;
  height: auto;
  padding: 12px 32px;
  color: #909090;
  border-color: #909090;
  width: 100%;
  width: -webkit-fill-available;
}

.beasiswa-logo,
.beasiswa-logo:hover,
.beasiswa-logo:focus {
  fill: #f0f8fe;
}

.addButton > span {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: white;
}

.loginButton > span {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: white;
}

.detailButton > span {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.cancelButton > span {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.isRegisteredButton > span {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.blueButton,
.blueButton:hover,
.blueButton:focus {
  margin-bottom: 0;
  background: #00C3D4;
  border-radius: 10px;
  height: auto;
  padding: 9px 35px;
  color: #00C3D4;
  border-color: #00C3D4;
}

.blueButton > span {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}

.deleteButton2,
.deleteButton2:hover,
.deleteButton2:focus {
  margin-bottom: 0;
  background: #b12031;
  border-radius: 10px;
  height: auto;
  padding: 9px 35px;
  color: #ececec;
  border-color: #b12031;
}

.deleteButton2 > span {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #ececec;
}

.nonActiveButton,
.nonActiveButton:hover,
.nonActiveButton:focus {
  margin-bottom: 0;
  background: white;
  border-radius: 10px;
  height: auto;
  padding: 9px 35px;
  color: #00C3D4;
  border-color: #00C3D4;
}

.nonActiveButton > span {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #00C3D4;
}

input[type="file"] {
  display: none !important;
}
.custom-file-upload {
  /* border: 1px solid #ccc; */
  display: inline-block;
  padding: 6px 30px;
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #232F9D;
  text-align: center;
}

.text-dokumentasi {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #232F9D;
}

.ant-breadcrumb-separator {
  font-weight: bold;
  color: #000000;
}

.background_left {
  background: linear-gradient(180deg, #232F9D 22.12%, #2970DA 86.98%);
  height: 100vh;
  padding: 25% 100px;
  /* display: flex;
  align-items: center; */
}

.container_Body {
  width: 100%;
  height: 100vh;
  position: relative;
}

.background_right {
  background: linear-gradient(180deg, #232F9D 22.12%, #2970DA 86.98%);
  height: 100vh;
  padding: 50% 80px;
  /* display: flex;
  align-items: center; */
}

.c {
  margin-top: 12px;
  margin-bottom: 30px;
  border: 1px solid #00C3D4;
}

.input_style_modal {
  padding: 7px 11px;
  border-radius: 5px;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ECECEC;
  border: 1px solid #ECECEC;
  background-color: transparent;
}

.input_style_modal:hover,
.input_style_modal:focus {
  border-color: #ECECEC;
  box-shadow: none
}


.rejectButton,
.rejectButton:hover,
.rejectButton:focus {
  margin-bottom: 0;
  margin-right: 20px;
  background: #E22828;
  border-radius: 10px;
  height: auto;
  padding: 9px 35px;
  color: #ececec;
  border-color: #E22828;
}

.rejectButton > span {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #ececec;
}

.approveButton,
.approveButton:hover,
.approveButton:focus {
  margin-bottom: 0;
  background: #6BC733;
  border-radius: 10px;
  height: auto;
  padding: 9px 35px;
  color: #ececec;
  border-color: #6BC733;
}

.approveButton > span {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #ececec;
}

.ant-btn[disabled],
.ant-btn[disabled]:hover,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:active {
  background-color: #BBBBBB;
  border-color: #BBBBBB;
  color: #ECECEC;
}

.ant-input-number-handler-wrap {
  display: none !important;
}

.headerForm {
  display: flex;
}

.titleModal {
  font-family: 'Poppins', sans-serif;
  margin-top: 40px;
  margin-bottom: 15px !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 24px !important;
  line-height: 36px !important;
  color: #222 !important;
}

.titleModalGalery {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold !important;
  color: #222 !important;
}

.dividerRegis {
  border-bottom: 3px solid #00C3D4;
  width: 181.03px;
  margin-bottom: 37px;
  margin-top: 18px;
}

.dividerGalery {
  border-bottom: 2px solid #00C3D4;
  width: 181.03px;
  margin-bottom: 20px;
}

.dividerPlus {
  border-bottom: 2px solid #00C3D4;
  margin-top: 15px;
}

.logoInstitusi {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.buttonUpload,
.buttonUpload:hover,
.buttonUpload:focus {
  margin-bottom: 0;
  background: #11174c;
  border-radius: 10px;
  height: auto;
  padding: 9px 35px;
  color: #ececec;
  border-color: #11174c;
}

.buttonUpload > span {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: #ececec;
}


span.ant-radio + * {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20x;
  color: #000000;
}



.ant-modal-content {
  border-radius: 15px;
}

.ant-modal-body {
  border-radius: 15px;
}

.ant-card {
  border-radius: 15px;
}

.modalHead {
  background-color: #11174C;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-left: 4%;
}

.modalHeadEdit {
  background-color: #11174C;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 0 40px;
}

.modalTitle {
  display: block;
  color: #ffffff;
  padding-top: 30px;
  font-weight: 600;
  border-bottom: 2px solid #00C3D4;
}

.modalTitleEdit {
  display: block;
  padding-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  color: #ECECEC;
}



.buttonMode {
  margin-top: 20px;
  padding: 1% 1.5%;
  font-size: 16px;
  font-weight: 500;
  color: #797979;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.buttonMode:focus {
  background-color: #ffffff;
  outline: 0;
  color: #00C3D4;
  padding-bottom: 1%;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.activeButton {
  background-color: #ffffff;
  outline: 0;
  color: #00C3D4;
  margin-top: 20px;
  padding: 1% 1.5%;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px 5px 0 0;
}

.btnBack{
  padding-top: 5%;
  padding-left: 3%;
  font-size: 16px;
  color: orange;
  font-weight: 700;
  width: 5%;
  height: 7%;
  background-color: white;
}

.text_forget_password {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #11174C;
}

.btnback{
  padding-top: 5%;
}

.arrow{
  font-size: 20px;
  font-weight: 600;
}

.background_right-forget{
  background-color: white;
  height: 92.5vh;
  padding: 40% 80px;
}
.text_detail_tema {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  color: #11174c;
}
.ant-select-disabled.ant-select-single:not(.ant-select-customize-input)
.ant-select-selector {
  color: rgb(0 0 0 / 30%);
  font-weight: bold;
}

.ant-input[disabled] {
  color: rgb(0 0 0 / 30%);
  font-weight: bold;
}

.modal_regis > .ant-modal-content > .ant-modal-header {
  border-radius: 15px 15px 0 0;
  background: linear-gradient(90deg, #4B0187 0%, #443DEF 100%);
}

.modal_regis > .ant-modal-content > .ant-modal-header > .ant-modal-title {
  display: none;
}

.modal_regis > .ant-modal-content > .ant-modal-close, .ant-modal-close:focus, .ant-modal-close:hover {
  color: #ECECEC;
}

.modal_regis > .ant-modal-content > .ant-modal-close > .ant-modal-close-x {
  line-height: 32px;
}

.modalImage > .ant-modal-content > .ant-modal-body {
  padding: 42px;
}


.headerFormText {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #222222;
}

.ant-picker-range {
  width: 100%;
  border-radius: 5px;
}

.ant-picker {
  border-radius: 5px;
}

.maxUpload {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #797979;
}

.textSchedule {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.termText {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 15px;
  color: #000000;
}

.gradientCard {
  width: 100%;
  position: relative;
  display: inline-block;
}

.playButton {
  position: absolute;
  font-size: 45px;
  color: white;
  top: 42%;
  left: 43%;
  z-index: 2;
}

.playButtonMini {
  position: absolute;
  font-size: 45px;
  color: white;
  top: 35%;
  left: 38%;
  z-index: 2;
}

.gradientCard::after {
  content: '';
  border-radius: 6px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background:  rgba(0, 0, 0, 0.35);
}

.cardVideo > .ant-modal-content {
  border-radius: 10px;
}

.cardVideo > .ant-modal-content > .ant-modal-body {
  padding: 40px;
}

.ulMediaSosial > ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.ulMediaSosial > ul > li {
  margin-top: 10px;
}

.listLink {
  font-weight: 600;
  font-size: 16px;
}

.listLink:link {
  color: #797979;
}

.listLink:hover {
  color: #0e0c0b;
}

.listLink:active {
  color: #797979;
}

.listLink:visited {
  color: #797979;
}

.linkUrl:link {
  color: #00C3D4;
}

.linkUrl:hover {
  color: #00C3D4;
}

.linkUrl:active {
  color: #00C3D4;
}

.linkUrl:visited {
  color: #00C3D4;
}

.head_modal_center {
  text-align: center;
  padding-top: 15px;
}

.dividerModal {
  border-bottom: 2px solid #00C3D4;
  width: 181.03px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.list_entrance_card {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 0px;
}

.title_list_entrance {
  font-family: Poppins, sans-serif;
  color: #0F164B;
  font-size: 22px;
  font-weight: 700;
}

.title_head_create_admin {
  font-family: Poppins, sans-serif;
  color: #0F164B;
  font-size: 22px;
  font-weight: 700;
  margin-top: 30px;
}

.buttonUploadForm,
.buttonUploadForm:hover,
.buttonUploadForm:focus {
  margin-bottom: 0;
  background: #11174c;
  border-radius: 10px;
  height: auto;
  padding: 1px 32px;
  color: #ececec;
  border-color: #11174c;
}

.buttonUploadForm > span {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 18px;
  color: #ececec;
}

.welcomeImage {
  width:693px;
  height:598px;
}

.ant-layout {
  background: #f0f2f5;
  height: 100vh;
}

@media all and (max-width: 1224px) {
  .welcomeImage {
    width: 100%;
    height: 100%;
  }

  .imageProfil {
    width: 100% !important;
  }

  .titleWelcome, .titleLayanan {
    font-size: 32px !important;
    line-height: 36px !important;
    padding: 10px;
  }

  .textWelcome {
    font-size: 18px !important;
    padding: 10px;
  }
  
  .buttonDaftarAkun, .buttonLoginWelcome {
    width: 100% !important;
    height: 40px !important;
    padding-left: 62px !important;
    padding-top: 8px !important;
  }

  .footer {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .imgFooter {
    width: 100% !important;
  }

  .cardDetail {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }
}


@media all and (max-width: 600px) {
  .body-content{
    /* margin-left: 40px; */
  }
  .root {
    margin: 0;
    padding: 10px 20px 30px;
    background: #f0f2f5;
    /* overflow-y: auto; */
  }
}

.verifText {
  font-size: 32px;
  color: #00C3D4;
}

.verifTextDetail {
  color: #7D7987;
  font-size: 14px;
  text-transform: capitalize;
}