@import url(./container.scss);
@import url(./card.scss);
@import url(./modal.scss);
@import url(./button.scss);
@import url(./upload.scss);
@import url(./image.scss);
@import url(./typography.scss);

html, body {
  height: 100%;
}

.full-height {
  height: 100%;
}


.app-hr {
  margin-bottom: 1em;
  border: 0px;
  border-bottom: 1px solid #d9d9d9;
}
