.centerTitle {
  font-family: 'Poppins';
  position: absolute;
  color: #462947;
  // font-weight: bolder;
  text-align: center;
  line-height: 100px;
  left: 50%;
  height: 100px;
  width: 100px;
  font-size: 1.4em;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.centerChart {
  margin: auto;
}

.chart-names{
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  color: #2970da;
}

.ant-typography.chart-name {
  width: 100%;
  margin-top: 1em;
  font-size: 1.2em;
  text-align: center;
  color: #2970da;
}

.ant-typography.chart-title, .ant-typography.chart-title + .ant-typography.chart-title {

  margin-bottom: 2em;
  font-size: 1.4em;
  margin-top: 0px;
  // text-align: center;
  color: #000000;
}

.legends {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  .legend {
    display: flex;
    align-items: center;

    .dot{
      margin-right: 10px;
      width: 12px;
      height: 12px;
      border-radius: 20px;
      background: #eee;
    }
  }
}


.app-progress-chart{
  display: flex;
  justify-content: center;

  .app-progress-bar {
    height: 280px;
    margin-right: 1em;
    width: 70px;
    border-radius: 4px;
    background: #ddd;
    display: flex;
    align-items: flex-end;
    position: relative;

    .app-progress-content {
      width: 100%;
      background: #E43077;
      border-radius: 0px 0px 4px 4px;
    }

    .app-progress-label {
      position: absolute;
      left: calc(50% - 20px);
      top: calc(50% - 20px);
      width: 40px;
      height: 40px;
      text-align: center;
      color: #462947;
      font-size: 1em;
    }


  }

  .app-progress-label {
    color: #E43077;
    font-size: 1.2em;
    border-radius: 4px;
    font-weight: 600;
    font-family: 'Poppins';
  }
}
