.content {
  background: #EDEDED;
  height: 100%;
}

.login-title{
  text-align: left;
  margin-bottom: 1em;
  font-size: 1.4em;
  font-weight: bold;
}

.login-row {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  // height: 100%;
}

.lupa-password-style {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  text-decoration: underline;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #374151;
  
}

.daftarDisini{
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #00C3D4;
}

.text-login {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #11174C;
}

.input-style-login {
  // padding: 7px 11px;
  border-radius: 5px;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: normal;
  // font-size: 12px;
  // line-height: 15px;
  color: #797979;
}

.input-style-login input {
  font-size: 12px;
}

.input-style-login .ant-input-prefix {
  margin-right: 10px;
}


.text-login-content {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 50px;
  color: #ECECEC;
}

.defaultLogo {
  // margin-right: 1em;

}

@media all and (max-width: 600px) {
  .text-login-contentainer {
    justify-content: center;
    text-align: center;
  }
  // .app-card{
  //   margin-left: 30px;
  // }
  .defaultLogo{
    height: 100px;
    margin-top: 10px;
  }
  .text-login-content{
    font-size: 2em;
  }
}


.buttonLogin{
  width: 200px;
  height: 56px;
  padding-left: 4px;
  padding-top: 15px;
  color: #FFF;
  font-weight: bold;
  background: #00C3D4;
  border-radius: 55px;
}