
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* style menu hover */
.ant-layout-sider-children{
  background: #DFE0E1;
  height: 100%;
  overflow: auto;
}

.ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after{
  background: #000;
  color: #000
}

.ant-menu-submenu-title{
  color: #000
}
.ant-menu-item a{
  color: #000
}
/* :hover */
.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover{
  background: rgba(66,135, 245,0.5) !important;
  & > a { color: #000 !important; }
}
/* :hover */
/* :actived */
.ant-menu > .ant-menu-item-active,
.ant-menu > .ant-menu-submenu-active{
  background: #C6FAFF!important;
}

.ant-menu {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #00C3D4;
}

.ant-menu > .ant-menu-item:hover, .ant-menu > .ant-menu-submenu:hover {
  background: #8edfe6 !important
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover, .ant-menu-item a:hover {
  color: #0e131d
}
.ant-menu .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: #0e131d !important
}
/* :actived */
/* :selected */
.ant-menu-item-selected a{
  color: #00C3D4
}
.ant-menu-item-selected .anticon{
  color: #00C3D4
}
.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected{
  background: #C6FAFF !important;
  // & > .ant-menu-submenu-title { color: #fff; }
}

.ant-menu {
  .ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: #fff;
    i { color: #fff; }
  }
  .ant-menu-submenu-open > .ant-menu-submenu-title { color: #000; }
}
// .ant-menu > .ant-menu-submenu-active[aria-expanded="false"] > .ant-menu-submenu-title {
//   color: #fff;
// }

/* :selected */
/* :open */
.ant-menu > .ant-menu-item-open,
.ant-menu > .ant-menu-submenu-open{
  background: #fff!important;
  color: white
}
/* :open */

// .ant-menu-item {
  // white-space: initial;
  // height: auto !important;
  // line-height: 1;
  // padding-top: 10px;
  // padding-bottom: 10px;
// }

.ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

// .ant-menu-horizontal {
//   line-height: 46px;
//   white-space: nowrap;
//   border: 0;
//   border-bottom: 1px solid #f0f0f0;
//   -webkit-box-shadow: none;
//   box-shadow: none;
// } 

.logoMobile {
  height: 50px;
  width: 100%;
  /* background: rgba(255, 255, 255, 0.2); */
  margin: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-content: center;
}


/* style menu hover */
