.header{
  height: 80px;
  left: 0px;
  right: 0px;
  top: 0px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content {
  background: #FFF;
  height: 100%;
}

.imgHeader{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 150px;
  height: 46px;
  left: 16px;
  top: 16px;
}

.imgFooter{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 250px;
}

.copyright{
  font-weight:300;
  font-size:"16px";
  margin-top:100px;
  color: #fff;
}

.linkFooter {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  text-decoration: underline;
  font-weight: normal;
  color: #F2f2f2;
  
}

.titleFooter{color:#F2F2F2;font: size 16px;font-weight:700;}
.textFooter{color:#F2F2F2;font-size:14px;font-weight:400;}

.titleWelcome{
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
}

.titleLayanan{
  font-size: 36px;
  line-height: 56px;
  font-weight: 700;
}

.cardLayanan{
  width: 350px;
  height: 354px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  border:rgba(0, 0, 0, 0.25) solid 1px;
}

.imageProfil{
  width: 600px;
}

.textWelcome{
  font-weight: 300;
  font-size: 22px;
  white-space: pre-wrap;
}

.buttonDaftarAkun{
  width: 200px;
  height: 56px;
  padding-left: 80px;
  padding-top: 14px;
  color: #00C3D4;
  font-weight: bold;
  background: #FFFFFF;
  border: 1px solid #00C3D4;
  box-sizing: border-box;
  border-radius: 55px;
}

.buttonLoginWelcome{
  width: 200px;
  height: 56px;
  padding-left: 80px;
  padding-top: 15px;
  color: #FFF;
  font-weight: bold;
  background: #00C3D4;
  border-radius: 55px;
}

.footer{
  background: linear-gradient(183.41deg, #00C3D4 -8.57%, #004D54 82.96%);
  width: 100%;
  height: 293px;
  padding-left: 80px;
  padding-right: 80px;
}